<%- include("partials/header"); -%>
    <h1>News</h1>
    <p> <%= newsContent %> </p>
    <div class="news-container">
        <form action="/news" method="post">
            <label for="keyword">Keyword</label>
            <input class="keywordSearch" type="text" name="keywordString" placeholder="ChatGPT">
        
            <label for="Source">Source (optional)</label>
            <input  class="sourceSearch" type="text" name="sourceString" placeholder="BBC News">

            <button class="news-btn" type="submit">Go</button>
        </form>
    </div>

    <% titles.forEach(function(title, index) { %>
        <h3> 
            <a target="_blank" rel="noopener" href = "<%=articleUrls[index]%>" style="text-decoration:none"><%=title%></a>
        </h3>
        <p><%=descriptions[index]%></p>
        <p>Source: <%=sources[index]%>, Published:  <%=publishedAt[index]%> </p>
    <% }); %>

<%- include("partials/footer"); -%>